"/OrangeHrmTests/bin/" 
"/OrangeHrmTests/obj/" 
".vs/" 
"/OrangeHrmTests/packages/" 
"*.suo" 
"*.user" 
"/App_Data/" 
"/OrangeHrmTestingGuiFramework/bin/" 
"/OrangeHrmTestingGuiFramework/obj/" 
"/OrangeHrmTestingGuiFramework/packages/"
/.vs/OrangeHrmTesting/FileContentIndex
/OrangeHrmTestingGuiFramework/bin/Debug/net6.0/OrangeHrmTestingGuiFramework.dll
/OrangeHrmTestingGuiFramework/obj/Debug/net6.0/OrangeHrmTestingGuiFramework.AssemblyInfo.cs
