"/OrangeHrmTests/bin/" 
"/OrangeHrmTests/obj/" 
".vs/" 
"/OrangeHrmTests/packages/" 
"*.suo" 
"*.user" 
"/App_Data/" 
"/OrangeHrmTestingGuiFramework/bin/" 
"/OrangeHrmTestingGuiFramework/obj/" 
"/OrangeHrmTestingGuiFramework/packages/"
/.vs/OrangeHrmTesting/FileContentIndex
