/.vs/OrangeHrmTesting/FileContentIndex/38a3f477-1f1f-44d0-bf0f-e2cb22577333.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/9546135a-d2a3-4095-9dce-10c4679518bf.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/aa4ff638-4c56-4ff9-8fcd-12a2d741bc2c.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/ad508d18-3f08-4c40-bb8d-0d632b1d157f.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/b1dd383b-156e-4cb4-9c1b-d1b39f0c407b.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/e55a207a-0400-4772-84f0-8dd30ae78cd9.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/ea36c867-c288-496b-81c1-9ac0a2e9dd5e.vsidx
/.vs/OrangeHrmTesting/FileContentIndex/f7f9bf05-b18c-4d62-ba1a-5ce0cbb31cfb.vsidx
/.vs/OrangeHrmTesting/v17/.suo
/.vs/OrangeHrmTesting/FileContentIndex/1a8c2259-3c95-4312-b679-85255b0f0f3b.vsidx
/.vs/OrangeHrmTesting/v17/.suo
"/bin/" 
"/obj/" 
".vs/" 
"/packages/" 
"*.suo" 
"*.user" 
"/App_Data/" 